@import "tailwindcss";

@keyframes expand-out {
  0% {
    opacity: 1;
    tansform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(4);
  }
}

.expand-animation {
  animation: expand-out 200ms forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-animation {
  animation: fade-in 200ms forwards;
}

@keyframes expand-to-fill {
  0% {
    transform: scale(0.7);
    border-radius: 0px;
  }
  50% {
    transform: scale(1.1);
    border-radius: 32px;
  }
  100% {
    border-radius: 0px;
    transform: scale(1);
  }

}

.expand-to-fill-animation {
  animation: expand-to-fill 200ms forwards;
}

.icon-button {
  @apply m-4;
}

.rotate-animation {
  animation: rotate-back-forth 200ms ease-in-out infinite;
  transform-origin: center;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

@keyframes rotate-back-forth {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

@keyframes slide-in-from-top {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes week-slide-left {
  0% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes week-slide-right {
  0% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
  }
}


@keyframes schedule-slide-left {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes schedule-slide-right {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

.top-animation {
  animation: slide-in-from-top 200ms forwards;
  transform: translateY(-50px);
  opacity: 0;
}

.schedule-slide-right {
  animation: schedule-slide-right 400ms forwards;
}

.schedule-slide-left {
  animation: schedule-slide-left 400ms forwards;
}


.week-slide-right {
  animation: week-slide-right 100ms forwards;
}

.week-slide-left {
  animation: week-slide-left 100ms forwards;
}



